/* Reset Styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background with Confetti Effect */
body {
    font-family: 'Arial', sans-serif;
    background-color: #3b333d;
    background-image: url('OIP.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Card Styles */
.card {
    background: #fafafa;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    max-height: 700px;
    text-align: center;
    overflow: hidden;
    animation: fadeIn 1.5s ease-in-out;
}

.card-image img {
    height: 300px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-header h1 {
    font-size: 2rem;
    color: #f43f5e;
    margin: 15px 0;
    animation: popIn 1.5s ease;
}

.card-body p {
    font-size: 1.2rem;
    color: #374151;
    margin: 10px 20px;
    line-height: 1.5;
}

.card-footer p {
    font-size: 1rem;
    color: #9ca3af;
    margin: 10px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}